<style>
    .fb-comments{
        background: white;
        width: 640px;
        max-height: 420px;
        overflow: auto;
        position: absolute;
        top: calc((100vh - 320px)/2);
        left:calc((100vw - 640px)/2);
    }
</style>


<div id="fb-root"></div>
<!--<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];

    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    if (!d.getElementById(id)) fjs.parentNode.insertBefore(js, fjs) ;;
}(document, 'script', 'facebook-jssdk'));
</script>-->
<script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5"></script>
<div class="fb-comments" data-href="http://pasku.net.ua/projects/tiles/comments" data-width="100%" data-numposts="5"></div>