<style>
    button,input{
        float: right!important;
    }
    ui-view{
        width: 340px;
        max-height: 180px;
        height: 180px;
        position: absolute;
        /*overflow: auto;*/
        top: calc((100vh - 190px)/2);
        left: calc((100vw - 340px)/2);
    }
    .has-feedback .form-control{
        padding-right: 0!important;
    }
    .col-xs-8{
        float: right!important;
    }
    @media screen and (max-width:440px) {
        .container,.has-feedback .form-control {
            font-size: 10px!important;
        }
        h2{font-size: 12px;}
        ui-view{
            width: 260px;
            left: calc((100vw - 260px)/2);
        }
    }
</style>

<div  data-ng-click="containerVis = false" class="sign" id="signIn">
    <div class="container">
        <h2>Signing in</h2>
        <form class="form-horizontal" role="form">
            <div class="form-group has-feedback" ng-class="validate.lgn.hasFeedback">
                <label class="control-label col-xs-2" for="lgn">Login:</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="lgn" ng-model="userData.lgn" data-ng-change="validate.checkName(true)" autofocus="true" required placeholder="{{validate.lgn.text}}">
                    <span ng-class="validate.lgn.feedback"class="glyphicon form-control-feedback"></span>
                    <span ng-class="validate.lgn.help"  >{{validate.lgn.text}}</span>
                </div>
            </div>
            <div class="form-group has-feedback" ng-class="validate.usr_psw.hasFeedback">
                <label class="control-label col-xs-2" for="pwd">Password:</label>
                <div class="col-xs-8">
                    <input type="password" class="form-control" id="pwd" ng-model="userData.usr_psw" data-ng-change="validate.checkPsw(true)" required placeholder="{{validate.usr_psw.text}}">
                    <span ng-class="validate.usr_psw.feedback"class="glyphicon form-control-feedback"></span>
                    <span ng-class="validate.usr_psw.help"  >{{validate.usr_psw.text}}</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" data-ng-click="sign.inn()">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>