<!DOCTYPE html>
<html lang="en" data-ng-app="Store" data-ng-controller="Main">
<head >
    <meta charset="UTF-8">
    <title>Tittle</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tils sort" />
    <meta name="keywords" content="tils" />
    <meta name="author" content="Kate Pasku" />

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="js/libs/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/menu/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/menu/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/menu/component1.css" />
    <link rel="stylesheet" href="css/preloader.css">

    <script src="js/libs/jquery.min.js" type="text/javascript"></script>
    <script src="js/libs/modernizr-2.6.2.min.js"></script>
    <script src="js/libs/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="js/libs/assets/angular/angular.min.js"></script>
    <script src="js/libs/assets/angular-animate/angular-animate.min.js"></script>
    <script src="js/libs/assets/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="js/libs/assets/angular-carousel/dist/angular-carousel.min.js"></script>
    <script src="js/libs/assets/angular-touch/angular-touch.min.js"></script>
    <script src="js/libs/assets/angular-swipe/dist/angular-swipe.min.js"></script>
    <script src="js/libs/assets/angular-snapscroll/dist/angular-snapscroll.min.js"></script>
    <script src="js/libs/assets/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="js/libs/assets/angular-resource/angular-resource.min.js"></script>
    <script src="js/libs/assets/angular-translate/angular-translate.min.js"></script>
    <script src="js/libs/assets/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="js/libs/jquery.nicescroll.min.js"></script>

    <!--module-->
    <script src="js/module/store.js"></script>
    <script src="js/module/services.js"></script>
    <script src="js/module/router.js"></script>
    <script src="js/module/controller.js"></script>

</head>
<body style="    margin: 0!important;">
<div class="container-loader">
    <div class="cssload-loader">
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
    </div>
</div>

<div class="container_main ">
    <!-- Top Navigation -->
    <div class="codrops-top clearfix">
        <a data-ng-click=" $root.active='home_nav'"  class="codrops-icon codrops-icon-prev right " href="/sign_in"><span>Sign in</span></a>
        <span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=16114"><span>Sign up</span></a></span>
    </div>
    <div class="ifr">
        <div id="iframediv"></div>
    </div>
    <div class="component">
        <!-- Start Nav Structure -->
        <button class="cn-button" id="cn-button">+</button>
        <div class="cn-wrapper" id="cn-wrapper">
            <ul>
                <li ><a href="#"><span class="icon-picture"></span></a></li>
                <li><a href="#"><span class="icon-headphones"></span></a></li>
                <li data-ng-click=" $root.active='home_nav'"  class="home_nav"><a href="/home"><span class="icon-home"></span></a></li>
                <li><a href="#"><span class="icon-facetime-video"></span></a></li>
                <li><a href="#"><span class="icon-envelope-alt"></span></a></li>
            </ul>
        </div>
        <div id="cn-overlay" class="cn-overlay"></div>
    </div>
</div>

<div data-ng-click="containerVis = false" data-ng-show="containerVis" class="container_main" style="background-color: rgba(13, 9, 6, 0.36)">

</div>
<ui-view autoscroll ></ui-view>
<script>
    $('#iframediv').html('<iframe id="myid" style="position: relative;  top:0;left:0;width: 100%; height: 100%;" align="left" frameborder="0" src="iframe.html"/>');
    $('iframe#myid').load(function () {
        $(".container-loader").fadeOut();
    });
    function loader(flag) {
        if (flag) {
            $(".container-loader").fadeIn('slow');
        } else {
            $(".container-loader").fadeOut();
        }
    }
</script>
<script src="js/menu/polyfills.js"></script>
<script src="js/menu/demo1.js"></script>
<!--<script type="text/paperscript" canvas="texture">
// Create a raster item using the image tag with id='mona'
var raster = new Raster('pic');

// Hide the raster:
raster.visible = false;

// The size of our grid cells:
var gridSize = 10;

// Space the cells by 120%:
var spacing = 1.2;

// As the web is asynchronous, we need to wait for the raster to load
// before we can perform any operation on its pixels.
raster.on('load', function() {
	// Since the example image we're using is much too large,
	// and therefore has way too many pixels, lets downsize it to
	// 40 pixels wide and 30 pixels high:
	raster.size = new Size(40, 40);
        view.viewSize = new Size(400, 400);

	for (var y = 0; y < raster.height; y++) {
		for(var x = 0; x < raster.width; x++) {
			// Get the color of the pixel:
			var color = raster.getPixel(x, y);

			// Create a circle shaped path:
			var path = new Path.Circle({
				center: new Point(x, y) * gridSize,
				radius: gridSize / 2 / spacing
			});

			// Set the fill color of the path to the color
			// of the pixel:
			path.fillColor = color;
		}
	}

	// Move the active layer to the center of the view, so all
	// the created paths in it appear centered.
	project.activeLayer.position = view.center;
});

// Move the active layer to the center of the view:
project.activeLayer.position = view.center;
</script>-->
</body>
</html>