<!DOCTYPE html>
<html lang="en" data-ng-app="Store" data-ng-controller="Main">
<head>
    <meta charset="UTF-8">
    <title>Tittle</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tils sort"/>
    <meta name="keywords" content="tils"/>
    <meta name="author" content="Kate Pasku"/>

    <!--<script>document.write('<base href="' + document.location + '" />');</script>-->
    <!--<base href="http://pasku.net.ua/projects/tiles/"/>-->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/menu/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/menu/demo.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/menu/component1.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/preloader.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-easyfb/src/angular-easyfb.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="bower_components/flow.js/dist/flow.min.js"></script>
    <script src="bower_components/ng-flow/dist/ng-flow.min.js"></script>
    <script src="bower_components/fusty-flow.js/src/fusty-flow.js"></script>
    <script src="bower_components/fusty-flow.js/src/fusty-flow-factory.js"></script>

    <script src="assets/js/libs/jquery.nicescroll.min.js"></script>
    <script src="assets/js/libs/modernizr-2.6.2.min.js"></script>
    <script src="assets/js/module/store.js"></script>
    <script src="assets/js/module/services.js"></script>
    <script src="assets/js/module/router.js"></script>
    <script src="assets/js/module/controller.js"></script>
    <script src="assets/js/module/plugins.js"></script>
    <script src="assets/js/menu/polyfills.js"></script>
</head>
<body>
<div class="container-loader">
    <div class="cssload-loader">
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
    </div>
</div>
<div class="container_main ">
    <!-- Top Navigation -->
    <div class="codrops-top clearfix">
        <div data-ng-hide="methods.isAuth()">
            <a data-ng-click="containerVis = true;" ui-sref="sign_in" href="#"
               class="codrops-icon codrops-icon-prev right "><span>Sign in</span></a>
            <span class="right"><a data-ng-click="containerVis = true;" ui-sref="sign_up" href="#"
                                   class="codrops-icon codrops-icon-drop"><span>Sign up</span></a></span>
        </div>
        <div data-ng-show="methods.isAuth()">
            <span class="left">Hello, <a data-ng-click="containerVis = true;" ui-sref="info" href="#"
                                         class="icon-user icon-user-drop"><span> {{session.user.usr_name}}</span></a></span>
            <a data-ng-click="methods.exit()" href="#" class="icon-off icon-off-prev right "><span> Exit</span></a>
        </div>
    </div>
    <div class="ifr">
        <div id="iframediv">

        </div>
    </div>
    <div class="component">
        <!-- Start Nav Structure -->
        <button class="cn-button" data-ng-show="menu.btn" data-ng-click="menu.changeM(true)">+</button>
        <button class="cn-button" data-ng-hide="menu.btn" data-ng-click="menu.changeM()">-</button>
        <div class="cn-wrapper" data-ng-class="menu.front">
            <ul>
                <li data-ng-click="menu.changeM(false,true);"><a href="#"><span class="icon-picture"></span></a></li>
                <li data-ng-click="menu.changeM(false,true);"><a ui-sref="sorts" href="#"><span
                        class="icon-th-large"></span></a></li>
                <li data-ng-click="menu.changeM(false,true);"><a ui-sref="home" href="#"><span class="icon-home"></span></a>
                </li>
                <li data-ng-click="menu.changeM(false,true);"><a ui-sref="comments" href="#"><span
                        class="icon-facetime-video"></span></a></li>
                <li data-ng-click="menu.changeM(false,true);"><a ui-sref="comments" href="#"><span
                        class="icon-comment-alt"></span></a></li>
            </ul>
        </div>
        <div id="cn-overlay" class="cn-overlay" data-ng-click="menu.changeM()" data-ng-class="menu.back"></div>
    </div>
</div>

<div data-ng-show="containerVis" class="container_main ">
    <div data-ng-click="containerVis = false;goHome=true" class="cont">
        <!--<a ui-sref="home_en" href="#"></a>-->
    </div>
    <ui-view autoscroll></ui-view>
</div>

<script>
    var iframe, tillSize, tillPrice, tillName;
    function loader(flag) {
        if (flag) {
            $(".container-loader").fadeIn('slow');
        } else {
            $(".container-loader").fadeOut();
        }
    }
    function loadIframe(data) {
        $('#iframediv').html('<iframe id="myid" style="position: relative;  top:0;left:0;width: 100%; height: 100%;" align="left" frameborder="0" src="iframe.html"/>');
        $('iframe').load(function () {
            iframe = document.getElementById("myid");
            if (data) {
                resetData(data);
            }
            setTimeout(function(){
                iframe.contentWindow.thhreejsApp.guiObj.resetTillData(tillSize, tillPrice, tillName,iframe.contentWindow.thhreejsApp);
                loader();
            },100)

        });
    }
    function resetData(data) {
        tillSize = [],
                tillName = [],
                tillPrice = [];
       var cur = iframe.contentWindow.App.const.curWalTil,first ;
        for (var i = 0; i < data.length; i++) {
            if(data[i]['prdct_size'] == cur){
                first =  data[i];
            }else{
                tillPrice.push(data[i]['prdct_price']);
                tillSize.push(data[i]['prdct_size']);
                tillName.push(data[i]['prdct_name']);
            }
        }
        tillPrice.unshift(first['prdct_price']);
         tillSize.unshift(first['prdct_size']);
         tillName.unshift(first['prdct_name']);
    }

    var Sound = function (sources) {
        var audio = document.createElement('audio');
        audio.loop = true;
        for (var i = 0; i < sources.length; i++) {
            var source = document.createElement('source');
            source.src = sources[i];
            audio.appendChild(source);
        }
        audio.load();
        this.play = function () {
            audio.play();
        }
        this.pause = function () {
            audio.pause();
        }
    }
    var phoneSound = new Sound(['assets/data/sounds/Minus_3_.mp3']);

</script>
<!--<script type="text/paperscript" canvas="texture">
// Create a raster item using the image tag with id='mona'
var raster = new Raster('pic');

// Hide the raster:
raster.visible = false;

// The size of our grid cells:
var gridSize = 10;

// Space the cells by 120%:
var spacing = 1.2;

// As the web is asynchronous, we need to wait for the raster to load
// before we can perform any operation on its pixels.
raster.on('load', function() {
	// Since the example image we're using is much too large,
	// and therefore has way too many pixels, lets downsize it to
	// 40 pixels wide and 30 pixels high:
	raster.size = new Size(40, 40);
        view.viewSize = new Size(400, 400);

	for (var y = 0; y < raster.height; y++) {
		for(var x = 0; x < raster.width; x++) {
			// Get the color of the pixel:
			var color = raster.getPixel(x, y);

			// Create a circle shaped path:
			var path = new Path.Circle({
				center: new Point(x, y) * gridSize,
				radius: gridSize / 2 / spacing
			});

			// Set the fill color of the path to the color
			// of the pixel:
			path.fillColor = color;
		}
	}

	// Move the active layer to the center of the view, so all
	// the created paths in it appear centered.
	project.activeLayer.position = view.center;
});

// Move the active layer to the center of the view:
project.activeLayer.position = view.center;
</script>-->
</body>
</html>